* {
    margin: 0;
  
}
  


.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    flex-direction: column;

}

.popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 370px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
text-align: center;
margin-top: 25px;}

.btn-google img,.btn-email img,.btn-apple img {
    margin-right: 10px;
}

.btn-google,.btn-email,.btn-apple {
    width: 250px;
    margin: 10px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.or {
    font-size: 14px;
    color: #888;
}

.phone-input .flag {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    align-items: center;
    width: 20px;
    
}

.terms {
    font-size: 12px;
    color: #0a0a0a;
    margin-top:80px;
}
.Continue {
    margin-top: 10px;;
}
.desc{
    display: flex;
}