* {
  margin: 10px;
  font-family: Arial, sans-serif;
  
}

.fnav {
  display: flex;
  justify-content: space-a;
  justify-content: space-around;
  background-color: white(42, 42, 68);
  padding: 6px;

}

.logo img {
  margin-left: 22%;
  height: 40px;
  width: auto;
}

.left-section input {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  justify-content: space-around;
  width: 420px;
  height: 20px;
  padding: 8px 12px;
  border-radius: 5px;
}

.right-section {
  margin-right: 80px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
}

.location {
  font-size: 16px;
  cursor: pointer;
}

.signin-btn {
  background-color: #f84464;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}
.sec-nav{
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 10px ;
  justify-content: space-around;
  background-repeat: rgb( 26, 26, 48);
}
.sec-nav .s-left {
  display: flex;
  
}

.sec-nav .s-right {
  display: flex;
  
}

.sec-nav p:hover{
  color: #f84464;
  cursor: pointer;
  font-weight: 600;
}
.s-left p{
  margin-inline-start: 16px;
}

.s-right p{
  margin-inline-start: 16px;
}

.main img{
  width: 100%;
  margin-left: 0px;

}
.container h2 {
margin-left: 10PX;
padding: 22px;

}


.movie-name{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-block: 0px;
}

.movie-desc{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-block: 0px;
  
}
.container .card{
  display: flex;
  justify-content: space-around;
}

.card img {
  width: 18%;
  justify-content: space-evenly;
  margin-block: 15px;
  border-radius: 8px;
}
.banner img{
  width: 1420px;
  margin-top: 44px;
  margin: 10px;
  margin-left: 20px;
}

.containers h2{
margin-left: 10px;  
  padding: 22px;
}
.containers .card2{
  margin-top: 11px;
  justify-content: space-evenly;
  justify-content: center;
}
 .card2 img {
  width: 15%;
  margin-left: 22px;
  justify-content: space-evenly;
  margin-block: 15px;
  border-radius: 8px;
}

.premiere h2{
margin-left:0%;  
  padding: 22px;
}


.premiere{
  background-color: rgb(75, 75, 154);
  color:rgb(250, 246, 246);
  padding: 33px;
  margin-top: 10px;
}

.card3 img{
  width: 18%;
  justify-content: space-evenly;
  justify-content: center;
  margin-block: 15px;
  border-radius: 8px;
  margin-left: 22px;
  
}

.footer{
  background-color: white(42, 42, 68);
  padding: 5px;
  margin-top: 20px;

}

.footer img{  
  width: 22%;
 margin: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: -100vh;

}

.footer .icon {
  display: flex;
  justify-content: center;
  gap: 1px;
  font-size: 20px;
  color: black;
  margin: 15px 0;
}


